*{
    margin: 0;
    padding: 0;
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F8F8F8;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.8);
}

#table{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 50vh;
    margin-top: 40px;
}

#pagination{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
#pagination #buttons{
    padding-top: 10px;
}

.pg-table{
    width: 60%;
    border: 1px solid black;
    border-collapse: collapse;
}

.pg-table th,td{
    border: 1px solid black;
    padding: 30px;
    transition: 1s;
    cursor: pointer;
}


.pg-table th:hover,td:hover{
    background: lightgray;
}

#pagination .blue-buttons button{
    width: 40px;
    height: 40px;
    border: none;
    appearance: none;
    outline: none;
    background: #44AAEE;
    padding: 0px 10px; 
    border-radius: 5px;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition : 1s;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0 , 0.2);
}

#pagination #button:hover{
    background: #115a8b;
}
#pagination button.active{
    background: #115a8b;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0 , 0.2);
}

#pagination #page-number{
    border: 2px solid lightgray;
    margin-right: 15px;
    width: 40px;
    height: 20px;
    padding: 10px;
}

#page-size select{
    background: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
}

#page-size button{
    background: transparent;
    border: 2px solid #115a8b;
    border-radius: 10px;
    padding: 8px 20px;
    margin-left: 10px;
    outline: none;
    appearance: none;
    cursor: pointer;
}